.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#name-user,
#name-category {
  margin: 10px;
  padding: 20px;
}

.float-btn-co {
  display: flex;
  flex-direction: column;
  float: left;
}

.float-btn-co button {
  float: left;
  border: 1px solid rgb(77, 18, 212);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(77, 18, 212);
  color: white;
  transition: all 0.3s ease-in-out; 
}

.float-btn-co button:hover {
  border: 1px solid rgba(76, 18, 212, 0.603);
  background-color: rgba(76, 18, 212, 0.692);
}

.box {
  width: auto;
  margin: 2rem;
}

.box .header-name-video {
  border-top: 1px solid rgba(0, 0, 0, 0.212);
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
}

.box .header-name-video h1 {
  padding: 2rem;
  text-align: center;
}

.box .iframe-co {
  margin: 30px;
  align-items: center;
}

.box .iframe-co iframe {
  align-self: center;
  width: 930px;
  height: 540px;
}

.box .title-co p {
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  margin: 20px;
}

.box .title-co ul {
  list-style-type: none;
  text-align: center;
}

.box .title-co ul li {
  font-size: 20px;
  line-height: 34px;
  text-align: center;
}
