@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kanit:wght@300&display=swap');

:root {
    --font-size-std : 20px;
    --font-size-p: 20px;
    --font-family-main: 'prompt';
}

* {
    margin:auto;
    padding: auto;
    font-family: var(--font-family-main);
}

.name-container {
    padding-left: 5rem;
    padding-top: 2rem;
}

.main-co1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding: 4em;
}

.box {
    width: 240px;
    height: 240px;
    border: 1px solid rgba(224, 224, 224, 0.651);
    border-radius: 30px;
    margin: 1.5rem;
    padding: 10px;
    align-items: center;
    transition:all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.box:hover {
    background: linear-gradient(268deg, #0b8fc1, #f90bdb);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 54%
    }

    50% {
        background-position: 100% 47%
    }

    100% {
        background-position: 0% 54%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 54%
    }

    50% {
        background-position: 100% 47%
    }

    100% {
        background-position: 0% 54%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 54%
    }

    50% {
        background-position: 100% 47%
    }

    100% {
        background-position: 0% 54%
    }
}

.box .img-co {
    padding: 45px;
}

.box .img-co img {
    width: 130px;
    height: 130px;
    align-self: center;
}

#img-co-css {
    padding-left: 60px;
}

#java-logo {
    width: 85%;
}

#icon-css {
    width: 100px;
    left: 40px;
}

.box .footer-name h2 {
    text-align: center;
    padding-top: 25px;
}

.main-co2 {
    margin-top:5em;
    margin-bottom:10em;
}

.profile-container {
    width: 80rem;
    height: 25rem;
    border: 1px solid rgba(0, 0, 0, 0.185);
    border-radius: 30px;
    display: flex;
    overflow:hidden;
    box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.301);
    background-color: rgb(240, 240, 240);
}

.text-about {
    padding: 25px;
}

.text-about p {
    font-size: var(--font-size-p);
    font-family: var(--font-family-main);
    text-align: center;
}

.img-co-po img {
    width: 720px;
    height: 400px;
}

/* ---------- */

.darkMode {
    background-color: rgba(22, 22, 22, 0.281);
    color: white;
}
