<link rel="stylesheet" href="CSS/header.css">
<nav align="center">
    <ul>
        <li><a href="/home"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"><i class="fa fa-image"></i> AMz1 Website</a></li>
        <li><a href="#"><i class="fa fa-globe"></i> Community</a></li>
        <li><a href="https://earthstrix-portfolio.pages.dev/"><i class="fa fa-user"></i> Portfolio</a></li>
    </ul>
    <h1 class="name-header">EarthStrix<span id="dev">DEV</span></h1>
    <div class="input-group mb-3" id="input-group">
        <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
        <input type="search" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <button type="button" class="btn btn-success">Submit</button>
    </div>  
</nav>