<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to EarthStrixDEV Site</title>
  <link rel="stylesheet" href="../CSS/welcome.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <header>
      <h1>EarthStrixDEV</h1>
    </header>
    <section>
      <p>Hello ,Welcome to EarthStrixDEV ,So i will introduce to everyone who into my site <br>
      My name is Earth ,Call me (EarthStrix) ,I am Software Developer ,Computer Engineering Student<br>
      I interest about computer ,programming ,software engineering ,that everything i do be happiness</p>
    </section>
    <aside>
      <button class="btn btn-success move_btn">Go To Site</button>
    </aside>
  </div>
  <script src="../JS/script01.js"></script>
</body>
</html>