<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
    <link rel="stylesheet" href="CSS/Course.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="JS/Event.js"></script>
    <script src="JS/Windows.js"></script>
</head>
<body onload="checkWindowsLoad()">
    <%- include('Navbar') %>
    <div id="body">
        <%- include('NavButton') %>
        <div class="float-btn-co">
            <button type="button" class="float-co">Show Name</button>
            <button type="button" class="float-co">Theme</button>
            <button type="button" class="float-co">Former</button>
        </div>
        <div class="name-header-info">
            <h1 id="name-user" align="center"></h1>
            <h2 id="name-category" align='center'>Course : Mobile Development</h2>
        </div>
        <div class="main-container">
            <div class="box">
                <div class="header-name-video">
                    <h1 class="name-header-course">คอร์สเรียน Flutter</h1>
                </div>
                <div class="iframe-co">
                    <iframe src="https://www.youtube.com/embed/3jGj-1-m_zA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="title-co">
                    <p>
                        คอร์สเรียนพื้นฐานการพัฒนาแอพพลิเคชั่นบนมือถือแบบ Cross-Platfrom ด้วย Google Flutter สำหรับผู้เริ่มต้น<br>
                        รายละเอียดคร่าวๆดังนี้
                    </p>
                    <ul>
                        <li>Android Emulator</li>
                        <li>Widget</li>
                        <li>Widget Styling</li>
                        <li>Event setState</li>
                        <li>APIs</li>
                        <li>Future Builder</li>
                    </ul>
                </div>
            </div>
            <div class="box">
                <div class="header-name-video">
                    <h1 class="name-header-course">คอร์สเรียน Dart</h1>
                </div>
                <div class="iframe-co">
                    <iframe src="https://www.youtube.com/embed/UYGhkvRttwI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="title-co">
                    <p>
                        คอร์สเรียนพื้นฐานการเขียนโปรแกรมด้วยภาษา Dart สำหรับผู้เริ่มต้นและปูพื้นฐานไปสู่การพัฒนาแอพด้วย Flutter<br>
                        รายละเอียดคร่าวๆดังนี้
                    </p>
                    <ul>
                        <li>Variable / Data types</li>
                        <li>Print Methods</li>
                        <li>Condition</li>
                        <li>Array</li>
                        <li>Function</li>
                        <li>Try Exception</li>
                        <li>File Read/Write</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>     
    <footer class="footer-co">
        <div class="icon-social-media">
            <img src="./img/600px-Facebook_Logo_(2019).png" alt="facebook">
            <label for="#">Warapon Jitsook</label>
            <img src="./img/Instagram_logo_2016.svg.png" alt="instagram">
            <label for="#">_earthstrix</label>
            <img src="./img/900px-Octicons-mark-github.svg.png" alt="github">
            <label for="#">EarthStrixDEV</label>
        </div>
        <div class="technology-info">
            <strong>HTML CSS JS</strong>
        </div>
        </div>
        <div class="request-email">
            <div class="mb-3" id="email-co">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <p>Copyright&copy; EarthStrixDEV</p>
    </div>
    <script src="./JS/Event.js"></script>
    <script src="./JS/Windows.js"></script>
</body>
</html>