<link rel="stylesheet" href="CSS/header.css">
<header class="head-co1" align="center">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/course">Course</a></li>
        <li><a href="http://localhost:3000">AMz1 Website</a></li>
        <li><a href="">Community</a></li>
    </ul>
    <h2 class="name-header">EarthStrix<span style="color:blue">DEV</span></h2>
    <div class="input-group mb-3" id="input-group">
        <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
        <input type="search" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <button type="button" class="btn btn-success">Submit</button>
    </div>  
</header>