<div class="btn-co">
    <a href="/course"><button type="button" class="main-btn" id="web-btn">Web Development</button></a>
    <a href="/course2"><button type="button" class="main-btn" id="prog-btn">Programming Language</button></a>
    <a href="/course3"><button type="button" class="main-btn" id="mobile-btn">Mobile Development</button></a>
</div>