:root {
    --font-size-std : 20px;
    --font-size-p: 30px;
    --font-family-main: 'prompt';
}

* {
    margin:auto;
    padding:auto;
    font-family: var(--font-family-main);
}

.head-co1 {
    background-color: rgba(224, 224, 224, 0.651);
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(224, 224, 224, 0.651);
    box-shadow: 5px 0 7px rgba(7, 7, 7, 0.144);
}

.head-co1 ul {
    display: flex;
    flex-direction: row;
    padding: 30px;
    list-style-type: none;
    background-color:white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.head-co1 ul li {
    margin: auto;
}

.head-co1 ul a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    font-family: var(--font-family-main);
    padding:30px;
    transition: all 0.2s ease-in-out;
}

.head-co1 ul a:hover {
    background-color: rgba(213, 213, 214, 0.432);
    border-bottom: 1px solid rgba(0, 0, 255, 0.288);
}

.head-co1 h2 {
    padding: 50px;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    font-family: var(--font-family-main);
}

.head-co1 #input-group {
    width: 50%;
    padding: 40px;
}

.btn-co {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    margin: 0;
    padding: 50px;
}

.main-btn {
    border: 1px solid black;
    border-radius: 30px;
    background-color: white;
    width: auto;
    height: 50px;
    font-size: var(--font-size-std);
    transition: all 0.2s ease-in-out;
}

.main-btn:hover {
    background-color: black;
    color: white;
}

.main-btn:active {
    background-color: white;
    color: black;
}

.footer-co {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    background-color: rgba(226, 226, 226, 0.185);
    border-top: 1px solid rgba(0, 0, 0, 0.178);
}

.icon-social-media {
    display: flex;
    flex-direction: column;
}

.icon-social-media img {
    width: 90px;
    height: 90px;
    padding: 20px;
}

#email-co {
    background-color: rgba(180, 180, 180, 0.363);
    padding: 30px;
    border-radius:20px;
}

#email-co button {
    margin-top: 10px;
}

.copyright {
    border-top: 1px solid rgba(0, 0, 0, 0.178);
    background-color:rgba(212, 212, 212, 0.349);
}

.copyright p {
    text-align: center;
    font-size: var(--font-size-std);
    padding: 3rem;
    margin: 0;
}

.float-btn-co {
  display: flex;
  flex-direction: column;
  float: left;
  margin: 0;
  padding: 0;
  position: fixed;
}

.float-btn-co button {
  float: left;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  padding: 15px;
  padding-left: 36px;
  margin-bottom: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  transition: all 0.25s ease-in-out; 
  transform: translate(-25px ,0px);
}

.float-btn-co button:hover {
  background-color: white;
  border: 3px solid black; 
  color: rgb(0, 0, 0);
  transform: translate(-5px ,0px);
}